In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Alec\\Documents\\Programming Resources\\Boot Camp\\13_project02\\project_02_ETL_LOCAL'

In [2]:
infile2014 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2014.xlsx'
infile2015 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2015.xlsx'
infile2016 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2016.xlsx'
infile2017 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2017.xlsx'
infile2018 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2018.xlsx'
infile2019 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2019.xlsx'
infile2020 = 'resources\\crime_related_firearms_traced\\sourcerecovery_by_state_cy2020.xlsx'

In [3]:
traced_firearm_2014_df = pd.read_excel(infile2014)
traced_firearm_2015_df = pd.read_excel(infile2015)
traced_firearm_2016_df = pd.read_excel(infile2016)
traced_firearm_2017_df = pd.read_excel(infile2017)
traced_firearm_2018_df = pd.read_excel(infile2018)
traced_firearm_2019_df = pd.read_excel(infile2019)
traced_firearm_2020_df = pd.read_excel(infile2020)

In [4]:

x = [0,55,56,57,58,59,60,61]

traced_firearm_2014_df = traced_firearm_2014_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2014_df = traced_firearm_2014_df.drop(x)
traced_firearm_2014_df = traced_firearm_2014_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})

In [5]:
traced_firearm_2015_df = traced_firearm_2015_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2015_df = traced_firearm_2015_df.drop(x)
traced_firearm_2015_df = traced_firearm_2015_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})

In [6]:
traced_firearm_2016_df = traced_firearm_2016_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2016_df = traced_firearm_2016_df.drop(x)
traced_firearm_2016_df = traced_firearm_2016_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})
traced_firearm_2016_df

                              state totals
1                           ALABAMA   5724
2                            ALASKA   1038
3                           ARIZONA   8203
4                          ARKANSAS   2477
5                        CALIFORNIA  18504
6                          COLORADO   3330
7                       CONNECTICUT    451
8                          DELAWARE    805
9              DISTRICT OF COLUMBIA     85
10                          FLORIDA  15645
11                          GEORGIA  12864
12  GUAM & NORTHERN MARIANA ISLANDS     23
13                           HAWAII    109
14                            IDAHO   1033
15                         ILLINOIS   5306
16                          INDIANA   7224
17                             IOWA   1466
18                           KANSAS   2266
19                         KENTUCKY   4276
20                        LOUISIANA   6645
21                            MAINE    495
22                         MARYLAND   3487
23                    MASSACHUSETTS    678
24                         MICHIGAN   4162
25                        MINNESOTA   2139
26                      MISSISSIPPI   4563
27                         MISSOURI   5325
28                          MONTANA    839
29                         NEBRASKA    969
30                           NEVADA   2221
31                    NEW HAMPSHIRE    525
32                       NEW JERSEY    781
33                       NEW MEXICO   1943
34                         NEW YORK   2022
35                   NORTH CAROLINA   9385
36                     NORTH DAKOTA    543
37                             OHIO   8755
38                         OKLAHOMA   1948
39                           OREGON   2671
40                     PENNSYLVANIA   7505
41                      PUERTO RICO    229
42                     RHODE ISLAND    259
43                   SOUTH CAROLINA   5350
44                     SOUTH DAKOTA    504
45                        TENNESSEE   6381
46                            TEXAS  19905
47                US VIRGIN ISLANDS     24
48                             UTAH   1513
49                          VERMONT    267
50                         VIRGINIA   9112
51                       WASHINGTON   3314
52                    WEST VIRGINIA   1927
53                        WISCONSIN   3772
54                          WYOMING    397

In [7]:
traced_firearm_2017_df = traced_firearm_2017_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2017_df = traced_firearm_2017_df.drop(x)
traced_firearm_2017_df = traced_firearm_2017_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})
traced_firearm_2017_df

                   state totals
1                ALABAMA   6713
2                 ALASKA   1088
3                ARIZONA   7315
4               ARKANSAS   2016
5             CALIFORNIA  19392
6               COLORADO   3757
7            CONNECTICUT    751
8               DELAWARE    836
9   DISTRICT OF COLUMBIA     92
10               FLORIDA  17099
11               GEORGIA  14690
12                  GUAM     28
13                HAWAII     77
14                 IDAHO   1228
15              ILLINOIS   6171
16               INDIANA   8453
17                  IOWA   1812
18                KANSAS   2470
19              KENTUCKY   5455
20             LOUISIANA   8086
21                 MAINE    576
22              MARYLAND   3458
23         MASSACHUSETTS    709
24              MICHIGAN   4581
25             MINNESOTA   2488
26           MISSISSIPPI   4839
27              MISSOURI   5632
28               MONTANA    843
29              NEBRASKA   1115
30                NEVADA   4771
31         NEW HAMPSHIRE    582
32            NEW JERSEY    744
33            NEW MEXICO   1903
34              NEW YORK   1978
35        NORTH CAROLINA  10929
36          NORTH DAKOTA    529
37                  OHIO  10738
38              OKLAHOMA   2454
39                OREGON   3254
40          PENNSYLVANIA   8612
41           PUERTO RICO    251
42          RHODE ISLAND    257
43        SOUTH CAROLINA   6392
44          SOUTH DAKOTA    534
45             TENNESSEE   7539
46                 TEXAS  22804
47     US VIRGIN ISLANDS     26
48                  UTAH   1666
49               VERMONT    269
50              VIRGINIA  10190
51            WASHINGTON   3842
52         WEST VIRGINIA   2339
53             WISCONSIN   4355
54               WYOMING    447

In [8]:
traced_firearm_2018_df = traced_firearm_2018_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2018_df = traced_firearm_2018_df.drop(x)
traced_firearm_2018_df = traced_firearm_2018_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})
traced_firearm_2018_df

                   state totals
1                ALABAMA   7051
2                 ALASKA   1004
3                ARIZONA   8674
4               ARKANSAS   2676
5             CALIFORNIA  18874
6               COLORADO   4128
7            CONNECTICUT    881
8               DELAWARE    862
9   DISTRICT OF COLUMBIA     82
10               FLORIDA  18702
11               GEORGIA  15350
12                  GUAM     22
13                HAWAII     92
14                 IDAHO   1280
15              ILLINOIS   6585
16               INDIANA   8721
17                  IOWA   1992
18                KANSAS   2951
19              KENTUCKY   5702
20             LOUISIANA   8025
21                 MAINE    586
22              MARYLAND   4194
23         MASSACHUSETTS    766
24              MICHIGAN   4544
25             MINNESOTA   2638
26           MISSISSIPPI   4930
27              MISSOURI   7437
28               MONTANA    991
29              NEBRASKA   1183
30                NEVADA   4019
31         NEW HAMPSHIRE    709
32            NEW JERSEY    813
33            NEW MEXICO   2264
34              NEW YORK   1871
35        NORTH CAROLINA  11167
36          NORTH DAKOTA    604
37                  OHIO  10947
38              OKLAHOMA   3060
39                OREGON   3694
40          PENNSYLVANIA   8828
41           PUERTO RICO    244
42          RHODE ISLAND    256
43        SOUTH CAROLINA   6979
44          SOUTH DAKOTA    577
45             TENNESSEE   8267
46                 TEXAS  24844
47     US VIRGIN ISLANDS     12
48                  UTAH   1889
49               VERMONT    341
50              VIRGINIA  10918
51            WASHINGTON   4123
52         WEST VIRGINIA   2374
53             WISCONSIN   4558
54               WYOMING    419

In [9]:
traced_firearm_2019_df = traced_firearm_2019_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2019_df = traced_firearm_2019_df.drop(x)
traced_firearm_2019_df = traced_firearm_2019_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})
traced_firearm_2019_df

                              state totals
1                           ALABAMA   7873
2                            ALASKA   1127
3                           ARIZONA   9563
4                          ARKANSAS   3265
5                        CALIFORNIA  18486
6                          COLORADO   4331
7                       CONNECTICUT    696
8                          DELAWARE    969
9              DISTRICT OF COLUMBIA    115
10                          FLORIDA  19522
11                          GEORGIA  16428
12  GUAM & NORTHERN MARIANA ISLANDS     17
13                           HAWAII    121
14                            IDAHO   1363
15                         ILLINOIS   7144
16                          INDIANA   9480
17                             IOWA   2073
18                           KANSAS   2728
19                         KENTUCKY   6198
20                        LOUISIANA   8521
21                            MAINE    650
22                         MARYLAND   3645
23                    MASSACHUSETTS    602
24                         MICHIGAN   5046
25                        MINNESOTA   2677
26                      MISSISSIPPI   5046
27                         MISSOURI   8401
28                          MONTANA    877
29                         NEBRASKA   1266
30                           NEVADA   5514
31                    NEW HAMPSHIRE    751
32                       NEW JERSEY    805
33                       NEW MEXICO   2742
34                         NEW YORK   1658
35                   NORTH CAROLINA  12697
36                     NORTH DAKOTA    650
37                             OHIO  11891
38                         OKLAHOMA   2956
39                           OREGON   3970
40                     PENNSYLVANIA   9467
41                      PUERTO RICO    230
42                     RHODE ISLAND    232
43                   SOUTH CAROLINA   7467
44                     SOUTH DAKOTA    571
45                        TENNESSEE   8892
46                            TEXAS  24825
47                US VIRGIN ISLANDS     11
48                             UTAH   2258
49                          VERMONT    300
50                         VIRGINIA  11516
51                       WASHINGTON   4125
52                    WEST VIRGINIA   2548
53                        WISCONSIN   4472
54                          WYOMING    472

In [10]:
traced_firearm_2020_df = traced_firearm_2020_df[['Unnamed: 1', 'Unnamed: 56']].copy()
traced_firearm_2020_df = traced_firearm_2020_df.drop(x)
traced_firearm_2020_df = traced_firearm_2020_df.rename(columns={'Unnamed: 1':'state', 'Unnamed: 56':'totals'})
traced_firearm_2020_df

                              state totals
1                           ALABAMA   8199
2                            ALASKA    907
3                           ARIZONA  12361
4                          ARKANSAS   3516
5                        CALIFORNIA  17086
6                          COLORADO   4918
7                       CONNECTICUT    607
8                          DELAWARE   1203
9              DISTRICT OF COLUMBIA     91
10                          FLORIDA  22285
11                          GEORGIA  19120
12  GUAM & NORTHERN MARIANA ISLANDS     20
13                           HAWAII     66
14                            IDAHO   1417
15                         ILLINOIS   7116
16                          INDIANA   9684
17                             IOWA   2183
18                           KANSAS   3360
19                         KENTUCKY   6180
20                        LOUISIANA   9446
21                            MAINE    774
22                         MARYLAND   3460
23                    MASSACHUSETTS    584
24                         MICHIGAN   8891
25                        MINNESOTA   2838
26                      MISSISSIPPI   6067
27                         MISSOURI   8639
28                          MONTANA   1220
29                         NEBRASKA   1412
30                           NEVADA   6224
31                    NEW HAMPSHIRE    873
32                       NEW JERSEY    718
33                       NEW MEXICO   3104
34                         NEW YORK   1476
35                   NORTH CAROLINA  14761
36                     NORTH DAKOTA    741
37                             OHIO  14584
38                         OKLAHOMA   3753
39                           OREGON   4215
40                     PENNSYLVANIA  10361
41                      PUERTO RICO     85
42                     RHODE ISLAND    242
43                   SOUTH CAROLINA   9679
44                     SOUTH DAKOTA    668
45                        TENNESSEE  10210
46                            TEXAS  32347
47                US VIRGIN ISLANDS     31
48                             UTAH   2683
49                          VERMONT    398
50                         VIRGINIA  13083
51                       WASHINGTON   4320
52                    WEST VIRGINIA   2731
53                        WISCONSIN   5300
54                          WYOMING    449

traced_firearm_2014_df.to_csv('resources\\crime_related_firearms_traced\\clean2014.csv')
traced_firearm_2015_df.to_csv('resources\\crime_related_firearms_traced\\clean2015.csv')
traced_firearm_2016_df.to_csv('resources\\crime_related_firearms_traced\\clean2016.csv')
traced_firearm_2017_df.to_csv('resources\\crime_related_firearms_traced\\clean2017.csv')
traced_firearm_2018_df.to_csv('resources\\crime_related_firearms_traced\\clean2018.csv')
traced_firearm_2019_df.to_csv('resources\\crime_related_firearms_traced\\clean2019.csv')
traced_firearm_2020_df.to_csv('resources\\crime_related_firearms_traced\\clean2020.csv')

In [11]:
df_14_15 = traced_firearm_2014_df.merge(traced_firearm_2015_df, how='inner',on=['state'],suffixes=('_2014','_2015'))
df_16_17 = traced_firearm_2016_df.merge(traced_firearm_2017_df, how='inner',on=['state'],suffixes=('_2016','_2017'))
df_18_19= traced_firearm_2018_df.merge(traced_firearm_2019_df, how='inner',on=['state'],suffixes=('_2018','_2019'))

In [12]:
master_clean = df_14_15.merge(df_16_17, how='inner', on=['state'])

In [13]:
master_clean = master_clean.merge(df_18_19, how='inner', on=['state'])

In [14]:
master_clean = master_clean.merge(traced_firearm_2020_df, how='inner', on=['state'])

,state,totals_2014,totals_2015,totals_2016,totals_2017,totals_2018,totals_2019,totals_2020
0,ALABAMA,5191,5254,5724,6713,7051,7873,8199
1,ALASKA,768,877,1038,1088,1004,1127,907
2,ARIZONA,6606,7785,8203,7315,8674,9563,12361
3,ARKANSAS,1287,1564,2477,2016,2676,3265,3516
4,CALIFORNIA,16999,18192,18504,19392,18874,18486,17086
5,COLORADO,2524,2835,3330,3757,4128,4331,4918
6,CONNECTICUT,799,558,451,751,881,696,607
7,DELAWARE,657,674,805,836,862,969,1203
8,DISTRICT OF COLUMBIA,73,67,85,92,82,115,91
9,FLORIDA,14136,14305,15645,17099,18702,19522,22285
10,GEORGIA,9989,10891,12864,14690,15350,16428,19120
11,HAWAII,62,77,109,77,92,121,66
12,IDAHO,830,908,1033,1228,1280,1363,1417
13,ILLINOIS,4465,5212,5306,6171,6585,7144,7116
14,INDIANA,5532,6184,7224,8453,8721,9480,9684
15,IOWA,1149,1353,1466,1812,1992,2073,2183
16,KANSAS,1688,1960,2266,2470,2951,2728,3360
17,KENTUCKY,3107,3422,4276,5455,5702,6198,6180
18,LOUISIANA,5405,6082,6645,8086,8025,8521,9446
19,MAINE,406,498,495,576,586,650,774
20,MARYLAND,3537,3553,3487,3458,4194,3645,3460
21,MASSACHUSETTS,630,663,678,709,766,602,584
22,MICHIGAN,3557,4015,4162,4581,4544,5046,8891
23,MINNESOTA,1571,1869,2139,2488,2638,2677,2838
24,MISSISSIPPI,2957,3695,4563,4839,4930,5046,6067
25,MISSOURI,3596,4223,5325,5632,7437,8401,8639
26,MONTANA,571,770,839,843,991,877,1220
27,NEBRASKA,776,984,969,1115,1183,1266,1412
28,NEVADA,2555,2281,2221,4771,4019,5514,6224
29,NEW HAMPSHIRE,427,493,525,582,709,751,873
30,NEW JERSEY,721,770,781,744,813,805,718
31,NEW MEXICO,1362,1924,1943,1903,2264,2742,3104
32,NEW YORK,1970,1964,2022,1978,1871,1658,1476
33,NORTH CAROLINA,7605,8866,9385,10929,11167,12697,14761
34,NORTH DAKOTA,637,409,543,529,604,650,741
35,OHIO,7932,8276,8755,10738,10947,11891,14584
36,OKLAHOMA,1623,1775,1948,2454,3060,2956,3753
37,OREGON,2606,2659,2671,3254,3694,3970,4215
38,PENNSYLVANIA,7026,7043,7505,8612,8828,9467,10361
39,PUERTO RICO,346,163,229,251,244,230,85
40,RHODE ISLAND,224,201,259,257,256,232,242
41,SOUTH CAROLINA,4035,4399,5350,6392,6979,7467,9679
42,SOUTH DAKOTA,248,426,504,534,577,571,668
43,TENNESSEE,3919,5369,6381,7539,8267,8892,10210
44,TEXAS,12631,17322,19905,22804,24844,24825,32347
45,US VIRGIN ISLANDS,29,31,24,26,12,11,31
46,UTAH,1059,1178,1513,1666,1889,2258,2683
47,VERMONT,195,284,267,269,341,300,398
48,VIRGINIA,6756,7771,9112,10190,10918,11516,13083
49,WASHINGTON,2830,3116,3314,3842,4123,4125,4320
50,WEST VIRGINIA,1412,1766,1927,2339,2374,2548,2731
51,WISCONSIN,2992,3230,3772,4355,4558,4472,5300
52,WYOMING,311,333,397,447,419,472,449

In [16]:
master_clean = master_clean.rename(columns={'totals':'totals_2020'})

In [18]:
master_clean.to_csv('resources\\crime_related_firearms_traced\\master_traced_firearms.csv')