In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt

In [21]:
gun_deaths = "../Group Project 2/gun_deaths_by_county.csv"
gun_deaths_df = pd.read_csv(gun_deaths)
gun_deaths_df.head()

,state,state_code,county,county_code,deaths,population,crude_rate
0,AL,1,"Autauga County, AL",1001,34,920175,3.7
1,AL,1,"Baldwin County, AL",1003,73,3104213,2.4
2,AL,1,"Barbour County, AL",1005,14,499605,NaN
3,AL,1,"Bibb County, AL",1007,14,397480,NaN
4,AL,1,"Blount County, AL",1009,74,997776,7.4

In [23]:
gun_deaths_df.groupby(['state'])['deaths'].sum()

state
AK      983
AL     3250
AR     1521
AZ     3351
CA    27567
CO     3860
CT      404
DC      121
DE      256
FL    10321
GA     4136
HI      137
IA     2954
ID     1900
IL     2913
IN     2549
KS     1152
KY     2280
LA     1623
MA      696
MD     1320
ME     1641
MI     4232
MN     2437
MO     7099
MS     4113
MT      877
NC     3020
ND      698
NE      395
NH      916
NJ     1235
NM     3782
NV     1641
NY     3198
OH     4069
OK     5607
OR     6229
PA     3524
RI      173
SC     1892
SD     1087
TN     2692
TX    10190
UT     3474
VA     8251
VT      847
WA     7772
WI     7574
WV     2192
WY      705
Name: deaths, dtype: int64